openapi: 3.2.0
info:
  title: Schlage Home Webhook Subscriptions API
  version: '2.0'
  description: 'Schlage Home API V2 - REST + webhook API for the Schlage Home residential

    smart-lock platform (Schlage Encode, Encode Plus, Encode Lever).'
  contact:
    name: Allegion Developer Support
    url: https://developersupport.allegion.com/hc/en-us
  termsOfService: https://developer.allegion.com/en/index.html
  license:
    name: Allegion Developer Terms
    url: https://developer.allegion.com/en/index.html
servers:
- url: https://api.allegion.com/schlage-home
  description: Production
- url: https://api.allegion.com/schlage-home/v2
  description: Production (v2 path prefix)
security:
- OAuth2: []
tags:
- name: Webhook Subscriptions
  description: Subscribe partner endpoints to device, command, access code, and account events
paths:
  /webhooks/subscriptions:
    get:
      tags:
      - Webhook Subscriptions
      summary: List Webhook Subscriptions
      operationId: listWebhookSubscriptions
      responses:
        '200':
          description: Subscriptions returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSubscription'
    post:
      tags:
      - Webhook Subscriptions
      summary: Create Webhook Subscription
      description: 'Register an HTTPS callback URL for one or more event types. On subscription

        creation an OPTIONS validation request is sent to the URL and must receive

        a 2xx response within 30 seconds or the subscription is not created.'
      operationId: createWebhookSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionCreate'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
  /webhooks/subscriptions/{subscriptionId}:
    get:
      tags:
      - Webhook Subscriptions
      summary: Get Webhook Subscription
      operationId: getWebhookSubscription
      parameters:
      - in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Subscription returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
    delete:
      tags:
      - Webhook Subscriptions
      summary: Delete Webhook Subscription
      operationId: deleteWebhookSubscription
      parameters:
      - in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Subscription deleted
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: string
    WebhookSubscription:
      type: object
      properties:
        subscriptionId:
          type: string
        url:
          type: string
          format: uri
          description: HTTPS-only callback URL.
        eventTypes:
          type: array
          items:
            type: string
            enum:
            - DeviceLockStateChanged
            - DeviceConnectivityStateChanged
            - DeviceBatteryLevelChanged
            - DeviceKeypadLockedOut
            - DeviceAlarmTriggered
            - AccessCodeCreated
            - AccessCodeUpdated
            - AccessCodeDeleted
            - AccessCodeUsed
            - InvalidAccessCodeAttempted
            - AccessCodeSynchronized
            - CommandStatusUpdated
            - UserSignedOut
            - IntegrationManagementUpdated
        signingPublicKey:
          type: string
          description: Public key used to verify webhook signatures.
        createdAt:
          type: string
          format: date-time
    WebhookSubscriptionCreate:
      type: object
      required:
      - url
      - eventTypes
      properties:
        url:
          type: string
          format: uri
        eventTypes:
          type: array
          items:
            type: string
  responses:
    BadRequest:
      description: Request validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://account.schlage.com/OAuth2/authorize
          tokenUrl: https://account.schlage.com/OAuth2/token
          scopes:
            devices.read: Read device state, battery, connectivity, and firmware
            devices.write: Issue lock, unlock, and configuration commands
            access_codes.read: Read access codes stored on devices
            access_codes.write: Create, update, and delete access codes
            webhooks.manage: Create, list, and delete webhook subscriptions
