openapi: 3.2.0
info:
  title: Schlage Home Commands API
  version: '2.0'
  description: 'Schlage Home API V2 - REST + webhook API for the Schlage Home residential

    smart-lock platform (Schlage Encode, Encode Plus, Encode Lever).'
  contact:
    name: Allegion Developer Support
    url: https://developersupport.allegion.com/hc/en-us
  termsOfService: https://developer.allegion.com/en/index.html
  license:
    name: Allegion Developer Terms
    url: https://developer.allegion.com/en/index.html
servers:
- url: https://api.allegion.com/schlage-home
  description: Production
- url: https://api.allegion.com/schlage-home/v2
  description: Production (v2 path prefix)
security:
- OAuth2: []
tags:
- name: Commands
  description: Track the asynchronous status of lock / unlock and configuration commands
paths:
  /devices/{deviceId}/commands/{commandId}:
    get:
      tags:
      - Commands
      summary: Get Command Status
      description: Retrieve the current status of a previously issued device command. Error messages are populated on failure.
      operationId: getCommand
      parameters:
      - $ref: '#/components/parameters/DeviceId'
      - in: path
        name: commandId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Command status returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Command'
components:
  parameters:
    DeviceId:
      in: path
      name: deviceId
      required: true
      schema:
        type: string
      description: Unique identifier for a Schlage Home device.
  schemas:
    Command:
      type: object
      properties:
        commandId:
          type: string
        deviceId:
          type: string
        type:
          type: string
          enum:
          - Lock
          - Unlock
          - UpdateDevice
          - CreateAccessCode
          - UpdateAccessCode
          - DeleteAccessCode
        status:
          type: string
          enum:
          - Pending
          - InProgress
          - Completed
          - Failed
        errorMessage:
          type: string
          description: Populated when status is Failed (improved March 6, 2025).
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://account.schlage.com/OAuth2/authorize
          tokenUrl: https://account.schlage.com/OAuth2/token
          scopes:
            devices.read: Read device state, battery, connectivity, and firmware
            devices.write: Issue lock, unlock, and configuration commands
            access_codes.read: Read access codes stored on devices
            access_codes.write: Create, update, and delete access codes
            webhooks.manage: Create, list, and delete webhook subscriptions
